.image {
  width: 300px;
  margin-left: 1000rem;
  height: 110px;
  padding-left: 11rem;
  background-image: none;
  margin-bottom: 10px;
}
.form {
  width: 600px;
  height: 50px;
  margin-left: 420px;
  margin-right: 0px;
  padding-top: 5px;
  border-radius: 20px !important;
  border: 1px solid;
  padding: 10px;
  box-shadow: 2px 2px 3px 1px #888888;
  padding: 3px;
  border: transparent;
  /* box-shadow: 5px 10px #888888; */
}
.form-control {
  border: transparent;
}

.text-center {
  margin-right: 50px;
  margin-left: 380px;
}
.btn-1 {
  background-color: #f2f2f2;
  height: 40px;
  width: 25%;
  margin-left: 70%;
  color: #5f6368;
  border-radius: 10px;
  border: transparent;
  background-color: #f2f2f2;
  border: 0.5px solid lightslategray;
  font-family: arial, sans-serif;
  text-align: center;
  cursor: pointer;
}
.btn-2 {
  height: 40px;
  width: 25%;
  color: #5f6368;
  margin-right: 80%;
  border-radius: 10px;
  border: transparent;
  background-color: #f2f2f2;
  border: 0.5px solid lightslategray;
  font-family: arial, sans-serif;
  text-align: center;
  cursor: pointer;
}

.input-group-text {
  border: transparent;
  background: transparent;
}
