<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-data-tab [rows]="data" (delete)="deleteRow($event)" (addrowobj)="addArray($event)"></app-data-tab>
    </div>
  </div>
  <div class="row">
    <div class="col md-12">
      <input type="button" value="Fetch Data" class="btn btn-primary" (click)="fetchData()">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2">
      <app-item-info [show]="clickedRow"></app-item-info>
    </div>
  </div>
</div>
