<div class="div">
  <div class="row">
    <div class="col-md-12">
      <input (click)="myClk($event)" type="button" value="okay" class="btn btn-primary">
    </div>
    <div>
      <input type="text" (click)="click($event)" placeholder="ghost" value="4" class="btn btn-primary">
    </div>
  </div>
</div>


  <!-- forms module -->
  <div>
      <div class="row">
    <div class="col md-12">
      <input type="text" [(ngModel)]= "tw"> {{tw}}
    </div>
  </div>
</div>
<!-- use in calculator imp -->
<div>
  <div class="row">
    <div class="col md-12">
      <input type="text" [value]="val">
      <input type="button" value="1" (click)="setVal(1)">
      <input type="button" value="2" (click)="setVal(2)">
      <input type="button" value="3" (click)="setVal(3)">
    </div>
  </div>
</div>


